@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
  font-family: Onest;
  src: url(../fonts/Onest.ttf);
}

:root{
  --purple: #AD3AE6;
  --green: #94D39C;
  --lightblue: #599EFC;
  --yellow: #F9BB58;
}

*{
  margin: 0;
}

body{
  font-family: Onest;
}


/* .scroll-sm {
  scrollbar-width: thin;
  scrollbar-color: #f1f1f1;
} */

.scroll-sm::-webkit-scrollbar {
  width: 4px;
}

.scroll-sm::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 4px;
}

.scroll-sm::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.scroll-sm-transparent {
  scrollbar-width: thin;
  scrollbar-color: transparent;
}

.scroll-sm-transparent::-webkit-scrollbar {
  width: 4px;
}

.scroll-sm-transparent::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 4px;
}

.scroll-sm-transparent::-webkit-scrollbar-track {
  background-color: transparent;
}

@supports not selector(::-webkit-scrollbar) {
  .scroll-sm-blue{
    scrollbar-width: thin;
    scrollbar-color: #0A66C2 #ffffff;
  }
}

.scroll-sm-blue::-webkit-scrollbar {
  width: 4px;
}

.scroll-sm-blue::-webkit-scrollbar-thumb {
  background-color: #0A66C2;
  border-radius: 4px;
}

.scroll-sm-blue::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.scroll-sm-green{
  scrollbar-width: thin;
  scrollbar-color: #42A759;
}

.scroll-sm-green::-webkit-scrollbar {
  width: 4px;
}

.scroll-sm-green::-webkit-scrollbar-thumb {
  background-color: #42A759;
  border-radius: 4px;
}

.scroll-sm-green::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

/*
  Change toastify styles
*/

.Toastify__toast {
  border-radius: 16px; 
  min-height: 60px;
}

@keyframes leftToRight {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.animate-left-to-right {
  animation: leftToRight 1s ease-out;
}

@keyframes upAfter6s {
  0%, 100% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-up-after-6s {
  animation: upAfter6s 1s ease-out;
}

.flip-card-front {
  transform: rotateX(0);
}

.flip-card-back {
  transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-inner {
  transition: transform 0.45s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.rotate .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card {
  perspective: 1000px;
}