@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
  font-family: Onest;
  src: url(../fonts/Onest.ttf);
}

:root{
  --purple: #AD3AE6;
  --green: #94D39C;
  --lightblue: #599EFC;
  --yellow: #F9BB58;
}

*{
  margin: 0;
}

body{
  font-family: Onest;
}